.RightSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}